<!DOCTYPE html>
{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/uerform.css' %}">

    <title>Title</title>
   </head>
<body>
<div class="background">
        <div class="container">
            <h1>Register Your Dream House</h1>
            <form method="POST" class="form" action="{% url 'result' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_area_type">area_type:</label>
                    {{ form.area_type }}
                </div>
                <div class="form-group">
                    <label for="id_availability">availability:</label>
                    {{ form.availability }}
                </div>
                <div class="form-group">
                    <label for="id_location">location:</label>
                    {{ form.location }}
                </div>
                <div class="form-group">
                    <label for="id_bhk">Bhk:</label>
                    {{ form.bhk }}
                </div>
                <div class="form-group">
                    <label for="id_society">society:</label>
                    {{ form.society }}
                </div>
                <div class="form-group">
                    <label for="id_total_sqft">total_sqft:</label>
                    {{ form.total_sqft }}
                </div>
                <div class="form-group">
                    <label for="id_bath">bath:</label>
                    {{ form.bath }}
                </div>
                <div class="form-group">
                    <label for="id_balcony">balcony:</label>
                    {{ form.balcony }}
                </div>
                <div class="form-group">
                    <label for="id_price">price:</label>
                    {{ form.price }}
                </div>
               <div class="button-container">
                    <input type="submit" value="Send Now" class="submit-button">

                     <a href="/" class="styled-link">Previous Page</a>
               </div>
            </form>
        </div>
    </div>
</body>
</html>
